<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://cdn.jsdelivr.net; style-src 'self'">
    <title>DIZU | Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="sidebar">
        <h2>DIZU</h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="#">Análisis</a></li>
            <li><button id="logoutButton">Cerrar sesión</button></li>
        </ul>
    </div>
    <div class="main-content">
        <h1>Welcome to dashboard DIZU</h1>
        <div class="graphic">
            <canvas id="myChart"></canvas>
        </div>
    </div>  

    

    <script src="/js/scripts.js"></script>
</body>
</html>